{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% for hex in map.hexes %}
        {% if hex.ML == None %}
            {% if hex.TL == None %}
                <div class="hex-row">
            {% else %}
                <div class="hex-row even">
            {% endif %}
        {% endif %}
        <div class="hex">
            {% macro color(key) -%}
                {% if key == "F" %}
                    style="--bg-color: green;"
                {% elif key == "W" %}
                    style="--bg-color: deepskyblue;"
                {% elif key == "R" %}
                    style="--bg-color: orange;"
                {% elif key == "B" %}
                    style="--bg-color: darkred;"
                {% elif key == "." %}
                    style="--bg-color: lightgray;"
                {% endif %}
            {%- endmacro %}
            <div class="top" {{color(hex.terrain)}}></div>
            <div class="middle" {{color(hex.terrain)}}>{{hex}}</div>
            <div class="bottom" {{color(hex.terrain)}}></div>
        </div>
        {% if hex.MR == None %}
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock content %}